html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: black;
}
canvas {
    display: block;
    width: 100vw;
    height: 100vh;

}
nav {
    display: flex;
    backdrop-filter: blur(5px); 
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: auto;
} 
li {
    margin-right: 20px;
    background-color: transparent;
} 
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Verdana;
    background-color: transparent;
}
button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-family: Verdana;
    font-size: 16px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    filter: blur(0px);
}

.fade-out{
    animation: title-fadeout 2s linear forwards;
}

.fade-in{
    animation: nav-fadein 2s linear forwards;
}

@keyframes title-fadeout 
{
    0% 
    {
        opacity:1;
        filter: blur(0px);
        font-color: #000000;
    }
    100% 
    {
        opacity:0;
        filter: blur(40px);
        font-color: #ffffff;
    }
}

@keyframes nav-fadein 
{
    0% 
    {
        opacity:0;
        filter: blur(40px);
        font-color: #ffffff;
    }
    100% 
    {
        opacity:1;
        filter: blur(0px);
        font-color: #000000;
    }
}
